* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}

#codeArea,
#mdArea {
    overflow: scroll;
    width: 100%;
}

#styleEditor,
#textEditor {
    height: 100vh;
    display: flex;
    width: 50%;
    overflow: hidden;
}
